<div id="custom-content" class="white-popup-block white-popup-block-lg">
	<div class="row py-3">
		<div class="col-lg-4 text-center">
			<img class="img-fluid" src="https://portotheme.com/html/porto/7.5.0/ajax/img/team/team-2.jpg" alt="" />
			<ul class="social-icons social-icons-clean mt-3">
				<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
				<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
				<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>
		</div>
		<div class="col-lg-8">
			<h3 class="font-weight-bold text-6 text-capitalize ls-0 mb-0">Michele Doe</h3>
			<p class="pt-1 text-4">CEO & Founder</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus risus sit amet malesuada placerat. Duis purus massa, luctus a egestas non, interdum eu mauris. Etiam efficitur nibh vitae viverra hendrerit.<br><br>Integer blandit dui nulla, vitae facilisis sapien elementum vitae. Quisque eu turpis ac lectus faucibus vehicula. Duis tincidunt ornare diam, ut pellentesque dolor dapibus quis. Sed tempus bibendum felis, et pharetra risus placerat vel. Duis vitae lorem risus. Aenean eu odio eu turpis elementum feugiat. Vivamus aliquet ac lorem a luctus. Vestibulum sed purus a justo finibus dictum sed in velit. Nullam at elementum nisl, eget tincidunt ligula. Quisque efficitur rhoncus nunc, quis rutrum ligula dapibus at. Sed rutrum placerat lectus in bibendum.</p>
		</div>
	</div>
</div>